.main {
  margin: 18px 25px;
  width: 230px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
}

.image {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-left: -12px;
  height: 120px;
  width: 230px;
}

.title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.retail {
    margin-top: 20px;
    color: #666666;
    font-size: 12px;
    line-height: 14px;
}

.retail span {
    text-decoration: line-through;
}

.price {
    color: #EC6D27;
    font-size: 18px;
    margin-top: 8px;
}

.button {
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 12px 0px;
    font-size: 12px;
    background: #14635C;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3104 10.2917C12.9041 10.2917 13.4266 9.96708 13.6958 9.47625L16.53 4.33833C16.5967 4.21834 16.6309 4.083 16.6293 3.94571C16.6276 3.80842 16.5901 3.67394 16.5206 3.55558C16.451 3.43722 16.3517 3.33908 16.2326 3.27086C16.1134 3.20265 15.9785 3.16673 15.8412 3.16667H4.12454L3.38038 1.58333H0.791626V3.16667H2.37496L5.22496 9.17542L4.15621 11.1071C3.57829 12.1679 4.33829 13.4583 5.54163 13.4583H15.0416V11.875H5.54163L6.41246 10.2917H12.3104ZM4.87663 4.75H14.4954L12.3104 8.70833H6.75288L4.87663 4.75ZM5.54163 14.25C4.67079 14.25 3.96621 14.9625 3.96621 15.8333C3.96621 16.7042 4.67079 17.4167 5.54163 17.4167C6.41246 17.4167 7.12496 16.7042 7.12496 15.8333C7.12496 14.9625 6.41246 14.25 5.54163 14.25ZM13.4583 14.25C12.5875 14.25 11.8829 14.9625 11.8829 15.8333C11.8829 16.7042 12.5875 17.4167 13.4583 17.4167C14.3291 17.4167 15.0416 16.7042 15.0416 15.8333C15.0416 14.9625 14.3291 14.25 13.4583 14.25Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position:  25% center;
    padding-left: 25px;
}

.location {
    margin: 0 -12px;
    padding: 8px 15px;
    border-top: 1px solid #E6E6E6;
    margin-top: 10px;
    text-align: right;
}

.location p {
    margin-bottom: 0;
    color: #666666;
    font-size: 12px;
}

