.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;

    margin-top: 75px;
    margin-bottom: 50px;
}

.textFieldContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shippingAddress,
.paymentMethod,
.paymentConfirmation,
.note {
    margin-bottom: 60px;
}

.shippingAddress h3,
.paymentMethod h3,
.paymentConfirmation h3,
.note h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    margin-bottom: 30px;
}

.paymentMethod p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}